<table class="list compact">
  <thead>
    <tr>
      <th>Boss</th>
      <th>Raid</th>
      <th>Replies</th>
      <th>Views</th>
      <th>Last Post</th>
    </tr>
  </thead>
  <tbody>
  <% bosses.each do |boss| %>
    <% if policy(boss).show? %>
      <% css_klass = "" %>
      <% css_klass += "toggle-hidden" if boss.hidden? %>
      <% css_klass += " highlight" if boss.sticky? %>
      <%= content_tag :tr, class: css_klass do %>
        <td><%= link_to boss.name, raid_boss_path(boss.raid, boss) %></td>
        <td><%= link_to boss.raid, raid_path(boss.raid) %></td>
        <td><%= boss.posts.count %></td>
        <td><%= boss.impressionist_count %></td>
        <td>
          <% if boss.last_post %>
          <%= link_to postable_post_path(boss, boss.last_post) do %>
            <%= character_tag(boss.last_post.user.main) %>
            <%= date_tag(boss.last_post.created_at, relative: true) %>
          <% end %>
        <% end %>
        </td>
      <% end %>
    <% end %>
  <% end %>
  </tbody>
</table>
