<% if topics.any? %>
<table class="topic list">
  <tr>
    <th>
      <%= defined?(topics_label) ? topics_label : "Topics" %>
    </th>

    <% if params[:action] == "index" %>
      <th>Forum</th>
    <% end %>

    <th>Author</th>
    <th>Replies</th>
    <th>Views</th>
    <th>Last Post</th>
  </tr>
  <% topics.each do |topic| %>
  <tr <%= 'class=highlight' if topic.sticky %>>
    <td>
      <%= link_to topic, forum_topic_path(topic.forum, topic) %>
    </td>

    <% if params[:action] == "index" %>
      <td class="forum">
        <%= link_to topic.forum, forum_path(topic.forum) %>
      </td>
    <% end %>

    <td class="author">
      <%= character_tag(topic.user.main) %>
    </td>

    <td class="relpies">
      <%= topic.posts.count - 1 %>
    </td>

    <td class="views">
      <%= topic.impressionist_count %>
    </td>
    <td class="last-post">
      <% if topic.last_post %>
        <%= character_tag(topic.last_post.user.main) %>
        <%= date_tag(topic.last_post.created_at, relative: true) %>
      <% end %>
    </td>
  </tr>
  <% end %>
</table>
<%= paginate topics %>
<% else %>
<p>No Topics Yet.</p>
<hr />
<% end %>