<div class="page">
  <div class="title">
    <h1>Recent Bosses</h1>
  </div>

  <ul class="button-list">
    <% @bosses.each do |boss| %>
      <li>
        <%= link_to raid_boss_path(boss.raid, boss) do %>
          <%= boss %>

          <% if boss.posts.any? %>
            <span class="pull-right">
              <%= character_tag(boss.last_post.user.main) %>
              <%= date_tag(boss.last_post.created_at, relative: true) %>
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <div class="title">
    <h1>Recent Topics</h1>
  </div>

  <%= render "forums/table", topics: @topics %>

  <div class="title">
    <h1>Forums</h1>

    <ul class="actions">
      <% if policy(Forum).create? %>
        <li><%= link_to action_tag(:create, Forum), new_forum_path %></li>
      <% end %>
    </ul>
  </div>

  <ul class="button-list">
    <% @forums.each do |forum| %>
      <li>
        <%= link_to forum_path(forum), class: "button" do %>
          <%= forum %>
          <div class="pull-right">
            <%= pluralize forum.topics.count, "topic" %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>