<div class="panel">
  <h1 class="forum-title">
    Forums

    <% if can? :create, Forum %>
    <ul class="actions">
      <li><%= link_to "New Forum", new_forum_path, class: "button" %></li>
    </ul>
    <% end %>
  </h1>

  <ul class="forums">
    <% @forums.each do |forum| %>
    <% freshest_topic = forum.freshest %>

    <li class="forum">
      <%= link_to forum_path(forum), class: "button" do %>
        <%= forum %>
        <span class="info">
          <%= pluralize(forum.topics.count, "topic") %>
          <% if freshest_topic %>
          <%= from_now_tag freshest_topic.posts_updated_at %>
          <% end %>
        </span>
      <% end %>
    </li>
    <% end %>
  </ul>

  <%= render "forums/table", topics: @topics, topics_label: "Recent Topics" %>
  <%#= paginate @topics %>
</div>