<div class="page">
  <div class="title">
    <h1>Recent Bosses</h1>
  </div>

  <table class="list compact">
    <thead>
      <tr>
        <th>Boss</th>
        <th>Posts</th>
        <th>Last Post</th>
      </tr>
    </thead>
    <tbody>
    <% @bosses.each do |boss| %>
      <% if policy(boss).show? %>
        <% options = { class: 'toggle-hidden' } if boss.hidden? %>
        <%= content_tag :tr, options do %>
          <td><%= link_to boss.name, raid_boss_path(boss.raid, boss) %></td>
          <td><%= boss.posts.count %></td>
          <td>
            <% if boss.last_post %>
            <%= link_to postable_post_path(boss, boss.last_post) do %>
              <%= character_tag(boss.last_post.user.main) %>
              <%= date_tag(boss.last_post.created_at, relative: true) %>
            <% end %>
          <% end %>
          </td>
        <% end %>
      <% end %>
    <% end %>
    </tbody>
  </table>

  <div class="title">
    <h1>Recent Topics</h1>
  </div>

  <%= render "forums/topics_table", topics: @topics %>

  <div class="title">
    <h1>Forums</h1>

    <ul class="actions">
      <% if policy(Forum).create? %>
        <li><%= link_to action_tag(:create, Forum), new_forum_path %></li>
      <% end %>
    </ul>

    <div class="info">
      To create a new topic, click on the forum you wish to create it in, and then click the "Create New Topic" button. This button will only exist if you have access to creating topics in that forum.
    </div>
  </div>

  <table class="list compact">
    <thead>
      <tr>
        <th>Forum</th>
        <th>Topics</th>
        <th>Freshest</th>
      </tr>
    </thead>
    <tbody>
      <% @forums.each do |forum| %>
        <tr>
          <td><%= link_to forum, forum_path(forum) %></td>
          <td><%= forum.topics.count %></td>
          <td>
            <% freshest_topic = forum.freshest_topic %>
            <% if freshest_topic %>
            <%= link_to forum_topic_path(forum, freshest_topic) do %>
              <%= freshest_topic %>
              <%= date_tag(freshest_topic.last_post.created_at, relative: true) %>
            <% end %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
