<div class="panel">
  <div class="title">
    <h1>Forums</h1>

    <ul class="actions">
      <% if can? :create, Forum %>
        <li><%= link_to fa_icon("file-o"), new_forum_path %></li>
      <% end %>
    </ul>
  </div>

  <ul class="button-list">
    <% @forums.each do |forum| %>
      <li>
        <%= link_to forum_path(forum), class: "button" do %>
          <%= forum %>
          (<%= forum.topics.count %>)
          <% if forum.freshest %>
            <span class="pull-right">
              <%= forum.freshest.title %>
              <%= from_now_tag forum.freshest.posts_updated_at %>
            </span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <%= render "forums/table", topics: @topics, topics_label: "Recent Topics" %>
</div>