<div class="panel">
  <h1 class="forum-title">
    <%= @forum %>
    <span class="sub">
      <%= link_to "Forums", forums_path %>
    </span>

    <% if can? :update, @forum %>
    <ul class="actions">
      <li><%= link_to "Edit Forum", edit_forum_path, class: "button" %></li>
    </ul>
    <% end %>
  </h1>

  <%= render "forums/table", topics: @topics %>

  <% if can? :create, @topic %>
  <h3>New Topic</h3>
  <%= form_for([@forum, @topic], url: forum_topics_path(@forum)) do |f| %>
    <% if @topic.errors %>
    <ul class="errors">
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <%= f.fields_for :posts do |p| %>
      <%= render "shared/posts/edit", f: p, submit: "Create Topic" %>
    <% end %>
  <% end %>
  <% end %>
</div>