<div class="panel">
  <h1 class="forum-title">
    <%= link_to "Forums", forums_path %> /
    <%= link_to @forum, forum_path(@forum) %>

    <ul class="actions">
      <% if can? :update, @forum %>
      <li><%= link_to "Edit Forum", edit_forum_path(@forum) %></li>
      <% end %>
      <% if can? :destroy, @forum %>
      <li><%= link_to "Delete Forum", forum_path(@forum), method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </h1>

  <%= render "forums/table", topics: @topics %>

  <% if can? :create, @topic %>
  <h3>New Topic</h3>
  <%= form_for([@forum, @topic], url: forum_topics_path(@forum)) do |f| %>
    <% if @topic.errors %>
    <ul class="errors">
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
    <% end %>

    <div>
      <%= f.label :title %><br />
      <%= f.text_field :title %>
    </div>

    <%= f.fields_for :posts do |p| %>
      <%= render "shared/posts/edit", f: p, submit: "Create Topic" %>
    <% end %>
  <% end %>
  <% end %>
</div>