<div class="panel">
  <div class="title">
    <h2>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @forum, forum_path(@forum) %>
    </h2>

    <ul class="actions">
      <% if can? :update, @forum %>
        <li><%= link_to "Edit Forum", edit_forum_path(@forum) %></li>
      <% end %>
      <% if can? :destroy, @forum %>
        <li><%= link_to "Delete Forum", forum_path(@forum), method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </div>

  <%= render "forums/table", topics: @topics %>

  <% if can? :create, @topic %>
    <h3>New Topic</h3>

    <%= simple_form_for [@forum, @topic], url: forum_topics_path(@forum) do |f| %>
      <%= f.input :title %>

      <%= f.simple_fields_for :posts do |p| %>
        <%= render "shared/posts/edit", f: p, submit: "Create Topic" %>
      <% end %>
    <% end %>
  <% end %>
</div>