<div class="page">
  <div class="title">
    <h2>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @forum, forum_path(@forum) %>
    </h2>

    <ul class="actions">
      <% if policy(@forum).update? %>
        <li><%= link_to action_tag(:update, @forum), edit_forum_path(@forum) %></li>
      <% end %>
      <% if policy(@forum).destroy? %>
        <li>
          <%= link_to action_tag(:destroy, @forum), forum_path(@forum), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= render "forums/topics_table", topics: @topics %>

  <% if policy(@topic).create? %>

    <% unless @topic.errors.any? %>
      <a class="js-show-new-topic-button button" href="#">Create New Topic</a>
    <% end %>

    <%= simple_form_for [@forum, @topic], url: forum_topics_path(@forum),
      html: { class: (@topic.errors.any? ? "" : "hidden") } do |f| %>
      <h2>New Topic in <%= @forum.name %></h2>

      <%= f.input :title %>

      <%= f.simple_fields_for :posts do |p| %>
        <%= render "shared/posts/edit", f: p, submit: "Create Topic" %>
      <% end %>
    <% end %>
  <% end %>
</div>
