<div class="page">
  <div class="title">
    <h1>Raids</h1>

    <ul class="actions">
      <% if policy(Raid.new).create? %>
        <li><%= link_to action_tag(:create, Raid), new_raid_path %></li>
      <% end %>
    </ul>
  </div>

  <ul class="raid-list">
    <% @raids.each do |raid| %>
      <li>
        <%= link_to raid_path(raid) do %>
          <p>
            <%= raid %>
            <span class="pull-right">
              T<%= raid.tier %>
            </span>
          </p>
          <div class="image-mask">
            <%= image_tag raid.banner_photo.url(:medium) %>
          </div>
        <% end %>
      </li>
    <% end %>
  </ul>

  <% if false %>
  <ul class="button-list">
    <% @raids.each do |raid| %>
      <% options = { class: 'toggle-hidden' } if raid.hidden? %>
      <%= content_tag :li, options do %>
        <%= link_to raid_path(raid) do %>
          <%= image_tag raid.banner_photo.url if raid.banner_photo %>
          <%= raid %>
          <span class="pull-right">
            Tier <%= raid.tier %>
          </span>
        <% end %>
      <% end %>
    <% end %>
  </ul>
  <% end %>
</div>
