<div class="page">
  <div class="title">
    <h2>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @raid.name %>
    </h2>

    <ul class="actions">
      <li><%= link_to action_tag(:discussion, @raid), "#discussion" %></li>

      <% if policy(@raid).update? %>
        <li><%= link_to action_tag(:update, @raid), edit_raid_path(@raid) %></li>
      <% end %>
      <% if policy(@raid).toggle? %>
        <li><%= link_to action_tag(:toggle, @raid), toggle_raid_path(@raid), method: :patch %></li>
      <% end %>
      <% if policy(@raid).destroy? %>
        <li><%= link_to action_tag(:destroy, @raid), raid_path(@raid), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="bosses">
    <h3>
      Bosses
      <% if policy(Boss).create? %>
        <%= link_to fa_icon("plus"), new_raid_boss_path(@raid) %>
      <% end %>
    </h3>
    <ul class="button-list">
      <% @bosses.each do |boss| %>
        <% if policy(boss).show? %>
          <% options = { class: 'toggle-hidden' } if boss.hidden? %>
          <%= content_tag :li, options do %>
            <%= link_to boss.name, raid_boss_path(@raid, boss) %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="banner-photo">
    <%= image_tag @raid.banner_photo.url %>

    <div class="content">
      <%= raw @raid.markdown(:content) %>
    </div>
  </div>
  <div class="clearfix"></div>

  <hr id="discussion" />

  <%= render "shared/posts/index", posts: @posts, anchor: true %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@raid, @raid.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
