<div class="panel">
  <h1>
    <%= @raid.name %>
    <span class="sub"><%= link_to "All Raids", raids_path %></span>
  </h1>

  <ul>
    <% @raid.bosses.each do |boss| %>
    <li><%= link_to boss.name, raid_boss_path(@raid, boss) %></li>
    <% end %>
  </ul>
  <%= link_to "Add boss", new_raid_boss_path(@raid) %>

  <div>
    <%= raw @raid.markdown(:content) %>
  </div>

  <hr/>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <%= form_for([@raid, @raid.posts.build]) do |f| %>
    <%= render "shared/posts/edit", f: f, submit: "Reply" %>
  <% end %>
</div>
