<div class="page">
  <div class="title">
    <h2>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @raid.name %>
    </h2>

    <ul class="actions">
      <% if current_user.try(:admin?) %>
        <li><%= toggle_param_tag(:hidden, :raid_path) %></li>
      <% end %>

      <li><%= link_to action_tag(:discussion, @raid), "#discussion" %></li>
      <% if policy(@raid).update? %>
        <li><%= link_to action_tag(:update, @raid), edit_raid_path(@raid) %></li>
      <% end %>
      <% if policy(@raid).toggle? %>
        <li><%= link_to action_tag(:toggle, @raid), toggle_raid_path(@raid), method: :patch %></li>
      <% end %>
      <% if policy(@raid).destroy? %>
        <li><%= link_to action_tag(:destroy, @raid), raid_path(@raid), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <h3>
    Bosses
    <% if policy(Boss).create? %>
      <%= link_to fa_icon("plus"), new_raid_boss_path(@raid) %>
    <% end %>
  </h3>
  <ul class="button-list">
    <% @bosses.each do |boss| %>
      <% if policy(boss).show? %>
        <li><%= link_to boss.name, raid_boss_path(@raid, boss) %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="content">
    <%= raw @raid.markdown(:content) %>
  </div>

  <hr id="discussion" />

  <%= render "shared/posts/index", posts: @posts, anchor: true %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@raid, @raid.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
