<div class="panel">
  <div class="title">
    <h1>Edit Recruitment Needs</h1>
  </div>

  <%= form_tag recruitment_path, method: :patch do %>
    <% @recruitments.each do |recruitment| %>
      <h2><%= recruitment.class_name %></h2>

      <div>
        <%= simple_fields_for "recruitment_class[]", recruitment do |f| %>
          <% recruitment.desires.each do |spec, value| %>
            <%= f.label spec %>
            <%= f.select spec, ['Low', 'Medium', 'High'], include_blank: "None" %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <%= submit_tag "Update" %>
  <% end %>
</div>