<%= form_for application, url: user_application_path(application.user) do |f| %>
  <% if application.errors %>
  <ul class="errors">
  <% application.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  <% end %>

  <div>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>

  <div>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </div>

  <div>
    <%= f.label :battlenet %><br />
    <%= f.text_field :battlenet %>
  </div>

  <div>
    <%= f.label :logs %><br />
    <%= f.text_field :logs %>
  </div>

  <div>
    <%= f.label :computer %><br />
    <%= f.text_field :computer %>
  </div>

  <div>
    <%= f.label :history %><br />
    <%= f.text_field :history %>
  </div>

  <div>
    <%= f.label :leadership %><br />
    <%= f.text_field :leadership %>
  </div>

  <div>
    <%= f.label :skill %><br />
    <%= f.text_field :skill %>
  </div>

  <div>
    <%= f.label :why %><br />
    <%= f.text_field :why %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>
