<% if applications.any? %>

<table class="list">
  <thead>
    <tr>
      <th>Applicant</th>
      <th>Status</th>
      <th>Application Date</th>
      <th>Posts</th>
      <th>Last Poster</th>
      <th>Freshness</th>
    </tr>
  </thead>
  <tbody>
    <% applications.each do |application| %>
      <% options = { class: 'toggle-hidden' } if application.hidden? %>
      <%= content_tag :tr, options do %>
        <td>
          <%= link_to user_application_path(application.user) do %>
            <%= character_tag application.user.main %>
          <% end %>
        </td>

        <td>
          <div class="status <%= application.status %>">
            <%= application.status.to_s.titleize %>
          </div>
        </td>

        <td>
          <%= date_tag application.created_at, time: false %>
        </td>

        <td>
          <%= application.posts.size %>
        </td>

        <td>
          <% if application.last_post %>
            <%= user_tag(application.last_post.user) %>
          <% end %>
        </td>

        <td>
          <%= date_tag application.updated_at, relative: true %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>

<%= paginate applications %>

<% else %>

<p>There are no applications at this time.</p>

<% end %>