<div class="page">
  <div class="title">
    <h1><%= local_assigns[:header] || "Edit Your Application" %></h1>

    <ul class="actions">
      <% if policy(@application).decide? %>
        <li><%= decide_link "Pending", @application.user, :pending %></li>
        <li><%= decide_link "Trial", @application.user, :trial %></li>
        <li><%= decide_link "Accept", @application.user, :accepted %></li>
        <li><%= decide_link "Reject", @application.user, :rejected %></li>
      <% end %>

      <% if policy(@application).toggle? %>
        <li><%= link_to action_tag(:toggle, @application), toggle_user_application_path(@application.user), method: :patch, data: { confirm: "Are you sure?" } %></li>
      <% end %>
      <% if policy(@application).destroy? %>
        <li><%= link_to action_tag(:destroy, @application), user_application_path(@application.user), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>

    <div class="info">
      You are applying as <%= armory_tag @application.user.main %>.
    </div>
  </div>

  <%= simple_form_for @application, url: user_application_path(@application.user) do |f| %>
    <%= f.input :name, hint: "This is your actual name" %>
    <%= f.input :age %>
    <%= f.input :gender, collection: [[0, "Male"], [1, "Female"]], as: :radio_buttons, label_method: :last, value_method: :first, checked: @application.gender %>
    <%= f.input :battlenet, label: "Battle.net ID" %>
    <%= f.input :logs, hint: "World of Logs, and/or Warcraft Logs" %>
    <%= f.input :computer, label: "Computer Specs", input_html: {rows: 5} %>
    <%= f.input :raiding_history, label: "Your Raiding History", input_html: {rows: 5} %>
    <%= f.input :guild_history, label: "Your Guild History", input_html: {rows: 5} %>
    <%= f.input :leadership, label: "Your Leadership Experience" %>
    <%= f.input :playstyle, label: "Skill, Rotation, and Playstyle", input_html: {rows: 5} %>
    <%= f.input :why, label: "Why Party Shark?", input_html: {rows: 3} %>
    <%= f.input :referer, label: "How Did You Hear About Party Shark?", input_html: {rows: 3} %>
    <%= f.input :animal, label: "What Animal Best Describes You in Raids?", input_html: {rows: 4} %>
    <%= f.input :additional, label: "Additional Comments/Questions", input_html: {rows: 4} %>
    <%= f.button :submit %>
  <% end %>

  <aside class="content">
    <h2>Raid Schedule</h2>
    <p>Tuesday and Thursday from 8:45pm to 12:45am EST</p>

    <p>Invites at 8:30, first boss pull at 8:45, 10 min break in the middle and last boss pull at 12:45, we will always end by 1am at the latest.</p>

    <%= render "shared/recruitment_classes" %>

    <h2>Contact Information</h2>
    <p>Add us on REALID if you're interested in our guild<br />
      - Partyshark#1727<br />
      - Mikesumner#1521<br />
      Or Chat with us in game<br />
      - Omnomnomms (Gm/recruitment)<br />
      - Disciplíne (Officer/Logistics/recruitment)<br />
      - Tahgoe (Call-outs, Performance evaluation)<br />
      - Epicgrim (Website)
    </p>
  </aside>
</div>
