<div class="panel">
  <div class="title">
    <h1>
      <%= armory_tag @application.user.main %>
      <div class="status <%= @application.status %>">
        <%= @application.status.to_s.titleize %>
      </div>
    </h1>

    <ul class="actions">
      <% if policy(@application).decide? %>
        <li><%= decide_link "Pending", @application.user, :pending %></li>
        <li><%= decide_link "Trial", @application.user, :trial %></li>
        <li><%= decide_link "Accept", @application.user, :accepted %></li>
        <li><%= decide_link "Reject", @application.user, :rejected %></li>
      <% end %>

      <% if policy(@application).update? %>
        <li><%= link_to fa_icon("edit"), edit_user_application_path(@application.user) %></li>
      <% end %>
      <% if policy(@application).destroy? %>
        <li><%= link_to fa_icon("trash-o"), user_application_path(@application.user), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <div class="entry">
      <h3>Name</h3>
      <p><%= @application.name %></p>
    </div>

    <div class="entry">
      <h3>Age</h3>
      <p><%= @application.age %></p>
    </div>

    <div class="entry">
      <h3>Gender</h3>
      <p><%= @application.gender == 0 ? "Male" : "Female" %></p>
    </div>

    <div class="entry">
      <h3>Battle.net ID</h3>
      <p><%= @application.battlenet %></p>
    </div>

    <div class="entry">
      <h3>Logs</h3>
      <p><%= @application.logs %></p>
    </div>

    <div class="entry">
      <h3>Computer</h3>
      <%= simple_format @application.computer %>
    </div>

    <div class="entry">
      <h3>Raiding History</h3>
      <%= simple_format @application.raiding_history %>
    </div>

    <div class="entry">
      <h3>Guild History</h3>
      <%= simple_format @application.guild_history %>
    </div>

    <div class="entry">
      <h3>Guild Leadership</h3>
      <%= simple_format @application.leadership %>
    </div>

    <div class="entry">
      <h3>Skill, Rotation, and Playstyle</h3>
      <%= simple_format @application.playstyle %>
    </div>

    <div class="entry">
      <h3>Why Party Shark?</h3>
      <%= simple_format @application.why %>
    </div>

    <div class="entry">
      <h3>Referer</h3>
      <%= simple_format @application.referer %>
    </div>

    <div class="entry">
      <h3>What Animal?</h3>
      <%= simple_format @application.animal %>
    </div>

    <div class="entry">
      <h3>Additional</h3>
      <%= simple_format @application.additional %>
    </div>
  </div>

  <hr />

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@application, @post] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
