<div class="panel">
  <div class="title">
    <h1><%= armory_tag @user.main %></h1>
    <div class="status <%= @application.status %>">
      <%= @application.status.to_s.titleize %>
    </div>

    <ul class="actions">
      <% if can? :decide, @application %>
        <li><%= decide_link "Pending", @user, :pending %></li>
        <li><%= decide_link "Trial", @user, :trial %></li>
        <li><%= decide_link "Accept", @user, :accepted %></li>
        <li><%= decide_link "Reject", @user, :rejected %></li>
      <% end %>

      <% if can? :update, @application %>
        <li><%= link_to "Edit", edit_user_application_path(@user) %></li>
      <% end %>
      <% if can? :destroy, @application %>
        <li><%= link_to "Delete", user_application_path(@user), method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <div class="entry">
      <h3>Name</h3>
      <p><%= @application.name %></p>
    </div>

    <div class="entry">
      <h3>Age</h3>
      <p><%= @application.age %></p>
    </div>

    <div class="entry">
      <h3>Gender</h3>
      <p><%= @application.gender == 0 ? "Male" : "Female" %></p>
    </div>

    <div class="entry">
      <h3>Battle.net ID</h3>
      <p><%= @application.battlenet %></p>
    </div>

    <div class="entry">
      <h3>Logs</h3>
      <p><%= @application.logs %></p>
    </div>

    <div class="entry">
      <h3>Computer</h3>
      <%= simple_format @application.computer %>
    </div>

    <div class="entry">
      <h3>Raiding History</h3>
      <%= simple_format @application.raiding_history %>
    </div>

    <div class="entry">
      <h3>Guild History</h3>
      <%= simple_format @application.guild_history %>
    </div>

    <div class="entry">
      <h3>Guild Leadership</h3>
      <%= simple_format @application.leadership %>
    </div>

    <div class="entry">
      <h3>Skill, Rotation, and Playstyle</h3>
      <%= simple_format @application.playstyle %>
    </div>

    <div class="entry">
      <h3>Why Party Shark?</h3>
      <%= simple_format @application.why %>
    </div>

    <div class="entry">
      <h3>Referer</h3>
      <%= simple_format @application.referer %>
    </div>

    <div class="entry">
      <h3>What Animal?</h3>
      <%= simple_format @application.animal %>
    </div>

    <div class="entry">
      <h3>Additional</h3>
      <%= simple_format @application.additional %>
    </div>
  </div>

  <hr />

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if can? :create, @post %>
    <%= simple_form_for [@application, @post] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
