<div class="page">
  <div class="title">
    <h1>
      <%= user_tag @application.user %>'s Application
      <div class="status <%= @application.status %>">
        <%= @application.status.to_s.titleize %>
      </div>
    </h1>

    <ul class="actions">
      <% if policy(@application).update? %>
        <li><%= link_to action_tag(:edit, @application), edit_user_application_path(@application.user) %></li>
      <% end %>
      <% if policy(@application).toggle? %>
        <li><%= link_to action_tag(:toggle, @application), toggle_user_application_path(@application.user), method: :patch %></li>
      <% end %>
      <% if policy(@application).destroy? %>
        <li><%= link_to action_tag(:destroy, @application), user_application_path(@application.user), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>

    <div class="info">
      <span>Applied on <%= date_tag @application.created_at %>.</span>
    </div>

    <div>
      <% if policy(@application).decide? %>
        <%= decide_link "Pend", @application.user, :pending %>
        <%= decide_link "Try", @application.user, :trial %>
        <%= decide_link "Accept", @application.user, :accepted %>
        <%= decide_link "Reject", @application.user, :rejected %>
      <% end %>
    </div>
  </div>

  <h2>Player Informaion</h2>
  <dl>
    <dt>Name</dt>
    <dd><%= @application.name %></dd>

    <dt>Age</dt>
    <dd><%= @application.age %></dd>

    <dt>Gender</dt>
    <dd><%= @application.gender == 0 ? "Male" : "Female" %></dd>

    <dt>Battle.net ID</dt>
    <dd><%= @application.battlenet %></dd>

    <dt>Armory</dt>
    <dd><%= armory_tag @application.user.main %></dd>

    <dt>Referer</dt>
    <dd><%= @application.referer %></dd>
  </dl>

  <div class="content">
    <h2>Logs</h2>
    <%= @application.markdown :logs %>

    <h2>Computer</h2>
    <pre><code><%= @application.computer %></code></pre>

    <h2>Raiding History</h2>
    <%= @application.markdown :raiding_history %>

    <h2>Guild History</h2>
    <%= @application.markdown :guild_history %>

    <h2>Guild Leadership</h2>
    <%= @application.markdown :leadership %>

    <h2>Skill, Rotation, and Playstyle</h2>
    <%= @application.markdown :playstyle %>

    <h2>Why Dinosaur Cowboys?</h2>
    <%= @application.markdown :why %>

    <h2>What Animal?</h2>
    <%= @application.markdown :animal %>

    <% if @application.additional.present? %>
      <h2>Additional</h2>
      <%= @application.markdown :additional %>
    <% end %>
  </div>

  <hr id="discussion" />

  <%= render "shared/posts/index", posts: @posts, anchor: true %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@application, @post] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply", hint: "Posts are visible to the applicant." %>
    <% end %>
  <% end %>
</div>
