<div class="panel">
  <div class="forum-title">
    <h1>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %> /
      <%= link_to @topic, forum_topic_path(@topic.forum, @topic) %>
    </h1>

    <ul class="actions">
      <% if can? :destroy, @topic %>
      <li><%= link_to "Delete", forum_topic_path(@topic.forum, @topic),
        method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </div>

  <%= form_for([@topic.forum, @topic]) do |f| %>
    <div>
      <%= f.label(:title) %><br />
      <%= f.text_field(:title) %>
    </div>

    <div>
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>