<div class="panel">
  <div class="title">
    <h1>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %> /
      <%= link_to @topic, forum_topic_path(@topic.forum, @topic) %>
    </h1>

    <ul class="actions">
      <% if can? :destroy, @topic %>
        <li><%= link_to "Delete", forum_topic_path(@topic.forum, @topic), method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </div>

  <%= simple_form_for [@topic.forum, @topic] do |f| %>
    <%= f.input :title %>

    <%= f.button :submit, "Update" %>
  <% end %>
</div>