<div class="panel">
  <div class="title">
    <h3>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %> /
      <%= link_to @topic, forum_topic_path(@topic.forum, @topic) %>
    </h3>

    <ul class="actions">
      <% if policy(@topic).destroy? %>
        <li><%= link_to fa_icon("trash-o"), forum_topic_path(@topic.forum, @topic), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <%= simple_form_for [@topic.forum, @topic] do |f| %>
    <%= f.input :title %>

    <%= f.button :submit, "Update" %>
  <% end %>
</div>