<div class="panel">
  <div class="forum-title">
    <h1>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %> /
      <%= link_to @topic, forum_topic_path(@topic.forum, @topic) %>
    </h1>

    <ul class="actions">
      <% if can? :update, @topic %>
      <li><%= link_to "Edit", edit_forum_topic_path(@topic.forum, @topic) %></li>
      <% end %>
      <% if can? :destroy, @topic %>
      <li><%= link_to "Delete", forum_topic_path(@topic.forum, @topic),
        method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>

    <div class="info">
      <%= pluralize(@topic.impressionist_count, "views") %> overall, with
      <%= pluralize(@topic.impressionist_count(:start_date => 1.week.ago), "views") %> this week.
    </div>
  </div>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if can? :create, @post %>
  <%= form_for([@topic, @topic.posts.build]) do |f| %>
    <%= render "shared/posts/edit", f: f, submit: "Reply" %>
  <% end %>
  <% end %>
</div>