<div class="panel">
  <h1>
    <span class="noedit"><%= @topic %></span>
    <%= form_for([@topic.forum, @topic], html: {class: "edit"}) do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "Update" %>
    <% end %>
    <span class="sub">
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %>
    </span>

    <ul class="actions">
      <% if has_access(@topic.user) %>
      <li><%= link_to "Edit", "#", class: "edit-button" %></li>
      <li><%= link_to "Delete", forum_topic_path(@topic.forum, @topic),
        method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </h1>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <%= form_for([@topic, @topic.posts.build]) do |f| %>
    <%= render "shared/posts/edit", f: f, submit: "Reply" %>
  <% end %>
</div>