<div class="panel">
  <div class="title">
    <h3>
      <%= link_to "Forums", forums_path %> /
      <%= link_to @topic.forum, forum_path(@topic.forum) %> /
      <%= link_to @topic, forum_topic_path(@topic.forum, @topic) %>
    </h3>

    <ul class="actions">
      <% if can? :update, @topic %>
        <li><%= link_to fa_icon("edit"), edit_forum_topic_path(@topic.forum, @topic) %></li>
      <% end %>
      <% if can? :destroy, @topic %>
        <li><%= link_to fa_icon("trash-o"), forum_topic_path(@topic.forum, @topic), method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>

    <div class="info">
      <%= pluralize(@topic.impressionist_count, "view") %> overall, with
      <%= pluralize(@topic.impressionist_count(:start_date => 1.week.ago), "view") %> this week.
    </div>
  </div>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if can? :create, @post %>
    <%= simple_form_for [@topic, @topic.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>