<% if postables.any? %>

<table class="list compact">
  <thead>
    <tr>
      <th></th>
      <th>Last Post</th>
    </tr>
  </thead>

  <tbody>
    <% postables.each do |postable, post, count| %>
      <tr>
        <td><%= postable_tag(postable, label: true) %></td>
        <td>
          <% if postable.last_post %>
            <%= link_to postable_post_path(postable, postable.last_post) do %>
              <%= character_tag(postable.last_post.user.main) %>
              <%= date_tag(postable.last_post.created_at, relative: true) %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate postables %>

<% else %>

<hr />
<p>No Posts Yet.</p>
<hr />

<% end %>
