<table class="list">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Email</th>
      <th>Rank</th>
      <th>Join Date</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <% options = { class: 'toggle-hidden' } if user.hidden? %>
      <%= content_tag :tr, options do %>
        <td><%= avatar_tag(user, size: "35x35") %></td>
        <td><span class="name">
          <%= user_tag(user) %>
        </span></td>
        <td><span class="email"><%= user.email %></span></td>
        <td><span class="rank"><%= user.rank %></span></td>
        <td><span class="join"><%= date_tag(user.created_at, time: false) %></span></td>
      <% end %>
    <% end %>
  </tbody>
</table>
<%= paginate users %>
