<div class="panel">
  <h2>Edit User Information</h2>

  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <% if current_user.admin? || current_user.rank >= "Officer" %>
      <%= f.association :rank, include_blank: "None" %>
    <% end %>

    <% if current_user.admin? %>
      <%= f.input :admin?, as: :boolean %>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
