<div class="page">
  <div class="title">
    <h2>Edit User Information</h2>

    <ul class="actions">
      <% if policy(@user).toggle? %>
        <li><%= link_to action_tag(:toggle, @user), toggle_user_path(@user), method: :patch %></li>
      <% end %>
      <% if policy(@user).destroy? %>
        <li><%= link_to action_tag(:destroy, @user), user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <%= simple_form_for @user, html: { multipart: true } do |f| %>
    <div class="settings">
      <%= f.input :email %>

      <%= f.simple_fields_for :avatar, @user.build_avatar(user: @user) do |a| %>
        <%= a.input :file, label: "Avatar" %>
        <%= a.input :user_id, as: :hidden %>
      <% end %>

      <% if policy(@user).allows?(:rank_id) %>
        <%= f.association :rank, include_blank: "None" %>
      <% end %>

      <% if policy(@user).allows?(:created_at) %>
        <%= f.input :created_at, label: 'Join Date', as: :date %>
      <% end %>

      <% if policy(@user).allows?(:raid_moderator) %>
        <%= f.input :raid_moderator, as: :boolean, label: 'Raid Moderator' %>
      <% end %>

      <% if policy(@user).allows?(:admin) %>
        <%= f.input :admin, as: :boolean %>
      <% end %>
    </div>

    <div class="new-password">
      <h3>New Password</h3>

      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    </div>
    <div class="clearfix"></div>

    <%= f.button :submit %>
  <% end %>
</div>
