<div class="panel">
  <h2>Edit user</h2>

  <%= form_for(@user) do |f| %>
    <%= f.label :email %><br />
    <%= f.email_field :email %><br />

    <%= f.label :password %><br />
    <%= f.password_field :password %><br />

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %><br />

    <%= f.label :rank %><br />
    <%= f.collection_select(:rank_id, Rank.all, :id, :name, include_blank: 'None') %><br />

    <%= f.submit "Edit user" %>
  <% end %>
</div>
