<div class="panel">
  <h2>Edit User Information</h2>

  <%= simple_form_for @user do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>

    <% if policy(@user).allows?(:rank_id) %>
      <%= f.association :rank, include_blank: "None" %>
    <% end %>

    <% if policy(@user).allows?(:admin) %>
      <%= f.input :admin?, as: :boolean %>
    <% end %>

    <%= f.button :submit %>
  <% end %>
</div>
