<div class="page">
  <div class="title">
    <h1>Users</h1>
  </div>

  <table class="list">
    <tr>
      <th></th>
      <th></th>
      <th>Email</th>
      <th>Rank</th>
      <th>Join Date</th>
    </tr>
    <% @users.each do |user| %>
      <tr>
        <td><%= avatar_tag(user, size: "35x35") %></td>
        <td><span class="name">
          <%= link_to user_path(user) do %>
            <%= character_tag(user.main) %>
          <% end %>
        </span></td>
        <td><span class="email"><%= user.email %></span></td>
        <td><span class="rank"><%= user.main.user.rank %></span></td>
        <td><span class="join"><%= date_tag(user.main.user.created_at, time: false) %></span></td>
      </tr>
    <% end %>
  </table>
  <%= paginate @users %>

</div>
