<div class="panel">
  <div class="title">
    <h1>Sign Up</h1>
  </div>

  <%= simple_form_for @user do |f| %>
    <%= f.simple_fields_for :characters, @character do |c| %>
      <%= c.input :name, label: "Character Name" %>
      <%= c.input :server, label: "Character Server" %>
    <% end %>

    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= f.button :submit, "Sign Up" %>
  <% end %>

  <p>Already a member? <%= link_to "Sign in", new_user_session_path %></p>
</div>
