<div class="panel">
  <h1>Sign up</h1>

  <%= form_for(User.new) do |f| %>
    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
