<div class="panel">
  <h1>Sign up</h1>

  <%= form_for(User.new) do |f| %>
    <div>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name, :autofocus => true %>
    </div>

    <div>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
    </div>

    <div>
      <%= f.label :birthday %><br />
      <%= f.date_select(:birthday,
                        :start_year => 1980,
                        order: [:month, :day, :year],
                        prompt: {
                          day: 'Select day',
                          month: 'Select month',
                          year: 'Select year'
                        }) %>
    </div>

    <div>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
    </div>

    <div>
      <%= f.label :password %><br />
      <%= f.password_field :password %>
    </div>

    <div>
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %>
    </div>

    <div>
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
</div>
