<div class="panel">
  <h1 class="temp">Sign up</h1>

  <%= form_for(User.new) do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :autofocus => true %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :birthday %>
    <%= f.date_select(:birthday, :start_year => 1980) %>

    <%= f.label :email %>
    <%= f.email_field :email %>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.submit "Sign up", :class => "button" %>
  <% end %>
</div>
