<div class="page">
  <div class="title">
    <h1>Account</h1>

    <ul class="actions">
      <% if policy(@user).update? %>
        <li><%= link_to action_tag(:update), edit_user_path(@user) %></li>
      <% end %>
      <% if policy(@user).toggle? %>
        <li><%= link_to action_tag(:toggle), toggle_user_path(@user), method: :patch, data: { confirm: "Are you sure?" } %></li>
      <% end %>
      <% if policy(@user).destroy? %>
        <li><%= link_to action_tag(:destroy), user_path(@user), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="details">
    <%= avatar_tag(@user, class: "border") %>
    <p class="join">
      Joined on <%= date_tag(@user.created_at, time: false) %>
    </p>

    <% if policy(@user).show_email? %>
      <p class="email">
        <%= fa_icon("envelope") %> <%= @user.email %>
      </p>
    <% end %>

    <% if @user.rank %>
      <p class="rank">
        <%= fa_icon("shield") %> <%= @user.rank %>
      </p>
    <% end %>

    <%= link_to "Uploads", user_uploads_path(@user) %>
  </div>

  <div class="characters">
    <h2>
      Characters
      <% if policy(Character.new(user: @user)).create? %>
        <%= link_to fa_icon("plus"), new_user_character_path(@user) %>
      <% end %>
    </h2>

    <ul>
      <% @user.characters.each do |character| %>
        <li>
          <%= character.main? ? fa_icon("star") : fa_icon("star-o") %>
          <%= link_to character_tag(character), user_character_path(@user, character) %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="posts">
    <h2>Posts</h2>

    <table class="list">
      <tr>
        <th>Postable</th>
        <th>Posts by User</th>
        <th>Last Poster</th>
        <th></th>
      </tr>
      <% @postables.each do |postable| %>
        <tr>
          <td>
            <%= link_to postable_path(postable) do %>
              <%= postable %>
            <% end %>
          </td>
          <td>
            <%= postable.posts.where(user: @user).count %>
          </td>
          <td>
            <%= user_tag(postable.posts.last.user)  %>
          </td>
          <td>
            <%= date_tag(postable.posts_updated_at, relative: true) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
