<div class="panel clearfix">
  <div class="account">
    <h1>Account</h1>

    Email: <%= @user.email %><br />

    <% if @user.rank %>
      Rank: <%= @user.rank.name %><br />
    <% end %>

    <% if can? :update, @user %>
      <%= link_to "Edit", edit_user_path(@user) %>
    <% end %>
    <% if can? :manage, @user %>
      <%= link_to "Delete", user_path(@user), method: :delete, confirm: "Are you sure?" %>
    <% end %>
  </div>

  <div class="character">
    <h1>Charaters</h1>
    <ul>
    <% @user.characters.each do |character| %>
      <li class="<%= character.main? ? "main" : "alt" %>">
        <%= link_to character, user_character_path(@user, character) %>
      </li>
    <% end %>
    </ul>

    <% if can? :create, @user.characters.build %>
    <%= link_to "Add", new_user_character_path(@user) %>
    <% end %>
  </div>
</div>
