<div class="panel">
  <h1>Account</h1>
  <% if @user.rank %>
    Current rank <%= @user.rank.name %><br />
  <% end %>

  <%= link_to "Edit", edit_user_path(@user) %>

  <h2>Charaters</h2>
  <ul>
  <% @user.characters.each do |character| %>
    <li>
      <%= character.name %> - <%= character.server %>
      <% if character.main? %>
        (main)
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Add character", new_user_character_path(@user) %>
</div>
