<div class="panel clearfix">
  <div class="account">
    <h1>Account</h1>

    Email: <%= @user.email %><br />

    <% if @user.rank %>
      Rank: <%= @user.rank.name %><br />
    <% end %>

    <%= link_to "Edit", edit_user_path(@user) %>
  </div>

  <div class="character">
    <h1>Charaters</h1>
    <ul>
    <% @user.characters.each do |character| %>
      <li class="<%= character.main? ? "main" : "alt" %>">
        <%= link_to character, user_character_path(@user, character) %>
      </li>
    <% end %>
    </ul>
    <%= link_to "Add", new_user_character_path(@user) %>
  </div>
</div>
