<div class="panel">
  <div class="title">
    <h1>Forgot your password?</h1>

    <div class="info">
      Don't worry we all do it. Enter your email and we'll send you instructions to reset your password. Try to remember it this time eh?
    </div>
  </div>

  <%= simple_form_for resource, as: resource_name, url: password_path(resource_name), html: { method: :post } do |f| %>
    <%= f.input :email %>

    <%= f.button :submit, "Reset Password" %>
  <% end %>

  <p>
    Think you remember it? <%= link_to "Sign in", new_user_session_path %><br />
    Never actually made an account? <%= link_to "Sign up", new_user_path %>
  </p>
</div>
