<% if content.persisted? %>
  <div class="content">
    <% if policy(content).update? %>
      <a class="edit-button" href="#">Edit</a>
    <% end %>

    <div class="noedit">
      <%= raw content.markdown(:body) %>
    </div>

    <% if policy(content).update? %>
      <%= simple_form_for content, html: {class: "edit hidden"} do |f| %>
        <%= render "shared/editor", f: f, field: :body %>

        <%= f.button :submit %>
      <% end %>
    <% end %>
  </div>
<% else %>

  <div class="content">
    <p>Pardon our dust. Please check back later.</p>

    <% if policy(Content).create? %>
      <%= simple_form_for content do |f| %>
        <%= f.hidden_field :label, value: content.label %>
        <%= render "shared/editor", f: f, field: :body %>

        <%= f.button :submit %>
      <% end %>
    <% end %>
  </div>

<% end %>