<div class="image">
  <%= render "shared/content", content: @image %>
</div>

<div class="large-column">
  <section class="panel">
    <%= render "shared/content", content: @content %>
  </section>
</div>

<div class="small-column">
  <aside class="panel">
    <%= render "shared/recruitment_classes" %>
  </aside>

  <aside class="panel">
    <div class="title">
      <h2>Shoutbox</h2>
    </div>
    <%= render "shared/shoutbox" %>
  </aside>

  <aside class="panel">
    <object type="application/x-shockwave-flash" data="http://cloud.nixpulvis.com/0Z3U2C0o470i/psboard.swf" width="100%" height="485" id="psboard" style="float: none; vertical-align:middle">
      <param name="movie" value="http://cloud.nixpulvis.com/0Z3U2C0o470i/psboard.swf" />
      <param name="quality" value="high" />
      <param name="bgcolor" value="#ffffff" />
      <param name="play" value="true" />
      <param name="loop" value="true" />
      <param name="wmode" value="window" />
      <param name="scale" value="showall" />
      <param name="menu" value="true" />
      <param name="devicefont" value="false" />
      <param name="salign" value="" />
      <param name="allowScriptAccess" value="sameDomain" />
      <a href="http://www.adobe.com/go/getflash">
        <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
      </a>
    </object>
  </aside>

  <% if current_user.try(:rank) %>
    <aside class="panel">
      <%= render "shared/mumble" %>
    </aside>
  <% end %>
</div>
