<div class="panel">
  <h2>Edit Character</h2>

  <%= simple_form_for [@user, @character] do |f| %>
    <%= f.input :name %>
    <%= f.input :server %>
    <%= f.input :main?, as: :boolean %>

    <%= f.button :submit %>
  <% end %>
</div>
