<div class="page">
  <div class="title">
    <h1>Edit Character</h1>
  </div>

  <%= simple_form_for [@character.user, @character] do |f| %>
    <%= f.input :name %>
    <%= f.input :server, hint: "Use dashes instead of spaces" %>
    <%= f.input :main?, as: :boolean %>

    <%= f.button :submit %>
  <% end %>
</div>
