<div class="page">
  <div class="title">
    <h1>Roster</h1>

    <div class="info">
      <b><%= pluralize(@characters.count, "character") %></b> on the roster, with
      <b><%= pluralize(@characters.select { |c| c.role == "TANK" }.count, 'tank') %></b>,
      <b><%= @characters.select { |c| c.role == "DPS" }.count %> DPS</b> and
      <b><%= pluralize(@characters.select { |c| c.role == "HEALING" }.count, 'healer') %></b>.
      <i>Updated from the Armory at Midnight EST.</i>
    </div>
  </div>

  <% @classes.each do |klass, characters| %>
    <ul class="character-tiles">
      <% characters.each do |character| %>
        <li>
          <%= link_to character.armory_url do %>
            <%= image_tag character.thumbnail, size: "30x30", class: "portrait" %>
            <div class="info">
              <%= image_tag "role_#{character.role.downcase}.gif", size: "16x16", class: 'role-icon' %>
              <span class="character <%= character.klass %>"><%= character %></span>
              <%= character.user.rank %>
              <span class="ilvl"><%= character.average_item_level_equiped %> ilvl</span>
            </div>
          <% end %>
        </li>
      <% end %>
      <div class="clearfix"></div>
    </ul>
  <% end %>
</div>
