<div class="page">
  <div class="title">
    <h1>Roster</h1>
  </div>

  <% @classes.each do |klass, characters| %>
    <ul class="character-tiles">
      <% characters.each do |character| %>
        <li>
          <%= link_to character.armory_url do %>
            <%= image_tag character.thumbnail, size: "30x30", class: "portrait" %>
            <div class="info">
              <%= image_tag "role_#{character.role.downcase}.gif", size: "22x22" %>
              <span class="character <%= character.klass %>"><%= character %></span>
              <%= character.user.rank %>
            </div>
          <% end %>
        </li>
      <% end %>
      <div class="clearfix"></div>
    </ul>
  <% end %>
</div>
