<div class="page">
  <div class="title">
    <h1>Roster</h1>
  </div>

  <ul class="tiles">
    <% @characters.each do |character| %>
      <li class="character-tile">
        <%= image_tag character.thumbnail, size: "50x50" %>
        <div class="info">
          <div class="primary-info">
            <span class="character <%= character.klass %>"><%= character %></span>
            <%= character.user.rank %>
          </div>
          <div class="secondary-info">
            <%= image_tag "role_#{character.role.downcase}.gif", size: "22x22" %>
            <%= character.spec %>
          </div>
        </div>
      </li>
    <% end %>
    <div class="clearfix"></div>
  </ul>
</div>
