<div class="panel">
  <div class="title">
    <h1>Sign In</h1>
  </div>

  <%= simple_form_for resource, as: resource_name, url: session_path(resource_name) do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :remember_me, as: :boolean %>

    <%= f.button :submit, "Sign In" %>
  <% end %>

  <p>
    Not a member yet? <%= link_to "Sign up", new_user_path %><br />
    <%= link_to "Forgot your password?", new_user_password_path %>
  </p>
</div>
