<div class="post">
  <div class="user">
    <%= post.user %>
    <abbr class="datetime" title="<%= post.created_at %>"><%= post.created_at.iso8601 %></abbr>

    <ul class="actions">
      <% if has_access(post.user) %>
      <%= link_to "Edit", "#", class: "edit-button" %>
      <%= link_to "Delete", polymorphic_path([post.postable, post]),
        method: :delete, confirm: "Are you sure?" %>
      <% end %>
    </ul>
  </div>

  <div class="content noedit">
    <%= raw post.markdown(:body) %><br />
  </div>

  <%= form_for([post.postable, post]) do |f| %>
    <div class="content edit">
      <%= render "shared/posts/edit", f: f %>
    </div>
  <% end %>
</div>
