<div class="post" id="<%= post.id %>">
  <div class="user">
    <%= avatar_tag post.user, class: "avatar" %>
    <div class="info">
      <p class="rank"><%= post.user.rank %></p>
      <p class="count"><%= user_post_count(post.user) %></p>
    </div>
    <p class="name"><%= character_tag(post.user.main) %></p>
  </div>

  <div class="body">
    <div class="content noedit">
      <%= raw post.markdown(:body) %>
    </div>

    <div class="raw hidden">
      <%= post.body %>
    </div>

    <% if policy(post).update? %>
      <%= simple_form_for [post.postable, post], html: {class: "content edit hidden"} do |f| %>
        <%= render "shared/posts/edit", f: f, submit: "Update" %>
      <% end %>
    <% end %>

    <hr />

    <div class="info">
      <%= link_to "##{post.id}", postable_post_path(post.postable, post) %>
      posted
      <%= date_tag(post.created_at, relative: true) %>
      <% unless (post.updated_at - post.created_at).between?(-1, 60) %>
        updated
        <%= date_tag(post.updated_at, relative: true) %>
      <% end %>

      <ul class="actions">
        <li><a class="reply-button" href="#">Reply</a></li>
        <% if policy(post).update? %>
          <li><a class="edit-button" href="#">Edit</a></li>
        <% end %>
        <% if policy(post).destroy? %>
          <li><%= link_to "Delete", polymorphic_path([post.postable, post], page: params[:page]), method: :delete, data: { confirm: "Are you sure?" } %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
