<div class="post">
  <div class="user">
    <img class="avatar" src="http://www.gravatar.com/avatar/9f3821f6a6ab7930c9cd7466a6a62faa.png">
    <p class="info">
      <span class="name"><%= post.user %></span>
      <abbr class="datetime" title="<%= post.created_at %>"><%= post.created_at.iso8601 %></abbr>
    </p>

    <ul class="actions">
      <% if has_access(post.user) %>
      <li><%= link_to "Edit", "#", class: "edit-button" %></li>
      <li><%= link_to "Delete", polymorphic_path([post.postable, post]),
        method: :delete, confirm: "Are you sure?" %></li>
      <% end %>
    </ul>
  </div>

  <div class="content noedit">
    <%= raw post.markdown(:body) %>
  </div>

  <%= form_for([post.postable, post], html: {class: "content edit"}) do |f| %>
    <%= render "shared/posts/edit", f: f, submit: "Update" %>
  <% end %>

  <hr />

</div>
