<div class="page">
  <div class="title">
    <h3>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @boss.raid, raid_path(@boss.raid) %> /
      <%= link_to @boss, raid_boss_path(@boss.raid, @boss) %>
    </h3>

    <ul class="actions">
      <% if policy(@boss.raid).destroy? %>
        <li><%= link_to fa_icon("trash-o"), raid_path(@boss.raid), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <%= render "bosses/form", boss: @boss %>
</div>
