<div class="panel">
  <h1><%= @boss.name %></h1>
  <p>From <%= @raid.name %></p>

  <div>
    <%= raw @boss.markdown(:content) %>
  </div>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <%= form_for([@raid, @boss, @boss.posts.build]) do |f| %>
    <%= render "shared/posts/new", f: f %>
  <% end %>
</div>
