<div class="page">
  <div class="title">
    <h3>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @boss.raid, raid_path(@boss.raid) %> /
      <%= link_to @boss, raid_boss_path(@boss.raid, @boss) %>
    </h3>

    <ul class="actions">
      <li><%= link_to action_tag(:discussion, @boss), "#discussion" %></li>
      <% if policy(@boss).update? %>
        <li><%= link_to action_tag(:edit, @boss), edit_raid_boss_path(@boss.raid, @boss) %></li>
      <% end %>
      <% if policy(@boss).destroy? %>
        <li>
          <%= link_to action_tag(:destroy, @boss), raid_boss_path(@boss.raid, @boss), method: :delete, data: { confirm: "Are you sure?" } %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <%= raw @boss.markdown(:content) %>
  </div>

  <hr id="discussion" />

  <%= paginate @posts, params: { anchor: 'discussion' } %>
  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts, params: { anchor: 'discussion' } %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@boss, @boss.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
