<div class="panel">
  <h1>
    <%= @boss.name %>
    <span class="sub"><%= link_to @raid.name, raid_path(@raid) %></span>
  </h1>

  <div class="content">
    <%= raw @boss.markdown(:content) %>
  </div>

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if can? :create, Post %>
  <%= form_for([@boss, @boss.posts.build]) do |f| %>
    <%= render "shared/posts/edit", f: f, submit: "Reply" %>
  <% end %>
  <% end %>
</div>
