<div class="panel">
  <div class="title">
    <h3>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @raid, raid_path(@raid) %> /
      <%= link_to @boss, raid_boss_path(@raid, @boss) %>
    </h3>

    <ul class="actions">
      <% if can? :update, @boss %>
        <li><%= link_to fa_icon("edit"), edit_raid_boss_path(@raid, @boss) %></li>
      <% end %>
      <% if can? :destroy, @boss %>
        <li>
          <%= link_to fa_icon("trash-o"), raid_boss_path(@raid, @boss), method: :delete, confirm: "Are you sure?" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <%= raw @boss.markdown(:content) %>
  </div>

  <hr />

  <% @posts.each do |post| %>
    <%= render "shared/posts/show", post: post %>
  <% end %>
  <%= paginate @posts %>

  <% if can? :create, @post %>
    <%= simple_form_for [@boss, @boss.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
