<div class="page">
  <div class="title">
    <h3>
      <%= link_to "Raids", raids_path %> /
      <%= link_to @boss.raid, raid_path(@boss.raid) %> /
      <%= link_to @boss, raid_boss_path(@boss.raid, @boss) %>
    </h3>

    <ul class="actions">
      <% if @boss.updates.present? %>
        <li><%= link_to action_tag(:updates, @boss), "#updates" %></li>
      <% end %>
      <li><%= link_to action_tag(:discussion, @boss), "#discussion" %></li>
      <% if policy(@boss).update? %>
        <li><%= link_to action_tag(:edit, @boss), edit_raid_boss_path(@boss.raid, @boss) %></li>
      <% end %>
      <% if policy(@boss).toggle? %>
        <li><%= link_to action_tag(:toggle, @boss), toggle_raid_boss_path(@boss.raid, @boss), method: :patch %></li>
      <% end %>
      <% if policy(@boss).destroy? %>
        <li><%= link_to action_tag(:destroy, @boss), raid_boss_path(@boss.raid, @boss), method: :delete, data: { confirm: "Are you sure?" } %></li>
      <% end %>
    </ul>
  </div>

  <div class="content">
    <%= raw @boss.markdown(:content) %>
  </div>

  <% if @boss.updates.present? %>
    <h3 id="updates" class="updates title">Updates</h3>
    <div class="updates content">
      <%= raw @boss.markdown(:updates) %>
    </div>
  <% end %>

  <h3 id="views" class="views title">Views</h3>
  <div class="views content">
    <% @counts.each do |user_id, count| %>
      <%= character_tag(User.find(user_id).main) %> <%= count %>
    <% end %>
  </div>

  <hr id="discussion" />

  <%= render "shared/posts/index", posts: @posts, anchor: true %>

  <% if policy(@post).create? %>
    <%= simple_form_for [@boss, @boss.posts.build] do |f| %>
      <%= render "shared/posts/edit", f: f, submit: "Reply" %>
    <% end %>
  <% end %>
</div>
