<!--

[Non-member]
HOME
ROSTER
CHARTER?
===
APPLY
SIGN IN


[Non-ranked member]
HOME
ROSTER
CHARTER?
FORUMS
===
<MAIN'S NAME>
APPLY/APPLICATION
SIGN OUT

[Ranked member]
HOME
ROSTER
RAIDS
FORUMS
APPLICATIONS
===
<MAIN'S NAME>
SIGN OUT

-->

<nav class="topbar">

  <ul class="main-links">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Roster", roster_path %></li>

    <% if user_signed_in? %>
      <% if current_user.rank %>
        <li><%= link_to "Raids", raids_path %></li>
        <li><%= link_to "Forums", forums_path %></li>
        <li><%= link_to "Applications", "#" %></li>
      <% else %>
        <li><%= link_to "Charter", charter_path %></li>
      <% end %>
    <% else %>

    <% end %>
  </ul>

  <ul class="user-links">
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user) do %>
          <%= character_tag(current_user.main) %>
        <% end %>
      </li>

      <% unless current_user.rank %>
        <% if current_user.application %>
          <li><%= link_to "View Application", user_application_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Apply", new_user_application_path(current_user) %></li>
        <% end %>
      <% end %>

      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>

  <% if false %>
  <ul class="main-links">
    <li><%= link_to "Home", root_path %></li>
    <li><%= link_to "Recruitment", recruitment_path %></li>
    <li><%= link_to "Roster", roster_path %></li>
    <li><%= link_to "Charter", charter_path %></li>
    <li><%= link_to "Logs", logs_path %></li>
  </ul>

  <% if user_signed_in? %>
  <ul class="user-links">
    <li><%= link_to "Raids", raids_path %></li>
    <li><%= link_to "Forums", forums_path %></li>
  </ul>
  <% end %>

  <ul class="session-links">
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user) do %>
          <%= character_tag(current_user.main) %>
        <% end %>
      </li>
      <% unless current_user.rank %>
        <% if current_user.application %>
          <li><%= link_to "View Application", user_application_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Apply", new_user_application_path(current_user) %></li>
        <% end %>
      <% end %>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
  <% end %>
</nav>