<nav class="topnav">
  <ul class="main-links">
    <li><%= link_to "Home", root_path %></li>

    <% unless current_user.try(:rank) %>
      <li><%= link_to "Recruitment", recruitment_path %></li>
      <li><%= link_to "Charter", charter_path %></li>
    <% end %>

    <% if policy(Character).roster? %>
      <li><%= link_to "Roster", roster_path %></li>
    <% end %>

    <% if policy(Raid).index? %>
      <li><%= link_to "Raids", raids_path %></li>
    <% end %>

    <% if policy(Forum).index? %>
      <li><%= link_to "Forums", forums_path %></li>
    <% end %>

    <% if policy(Application).index? %>
      <li><%= link_to "Applications", applications_path %></li>
    <% end %>

    <% if policy(User).index? %>
      <li><%= link_to "Users", users_path %></li>
    <% end %>
  </ul>

  <ul class="user-links">
    <% if user_signed_in? %>
      <li>
        <%= link_to user_path(current_user) do %>
          <%= character_tag(current_user.main) %>
        <% end %>
      </li>

      <% unless current_user.rank %>
        <% if current_user.application %>
          <li><%= link_to "View Application", user_application_path(current_user) %></li>
        <% else %>
          <li><%= link_to "Apply", new_user_application_path(current_user) %></li>
        <% end %>
      <% end %>

      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>