<!DOCTYPE html>
<html>
<head>
  <title>PartyShark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= "#{params[:controller]}##{params[:action]}" %>'>

<div class="flash">
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
</div>

<header class="logo">
  <%= link_to root_path do %>
  <img src="/images/banner_logo.png">
  <% end %>
</header>

<nav class="topbar">
  <ul class="main-links">
    <li><%= link_to "Recruitment", recruitment_path %></li>
    <li><%= link_to "Roster", roster_path %></li>
    <li><%= link_to "Charter", charter_path %></li>
    <li><%= link_to "Logs", logs_path %></li>
  </ul>

  <% if user_signed_in? %>
  <ul class="user-links">
    <li><%= link_to "Raids", raids_path %></li>
    <li><a href="#">Forums</a></li>
  </ul>
  <% end %>

  <ul class="session-links">
    <% if user_signed_in? %>
      <li><%= link_to "Account", user_path(current_user) %></li>
      <% unless current_user.rank %>
      <li><a href="#">Apply</a></li>
      <% end %>
      <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "Sign up", new_user_path %></li>
      <li><%= link_to "Sign in", new_user_session_path %></li>
    <% end %>
  </ul>
</nav>

<div class="container">
  <%= yield %>
</div>

<!-- TODO: <footer></footer> -->

</body>
</html>
