<!DOCTYPE html>
<html>
<head>
  <title>Party Shark - Stormreaver</title>
  <link rel="icon" type="image/png" href="/images/icon.png"/>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= render "layouts/mathjax" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name %> <%= action_name %>'>

<div class="github">
  <a class="button-small" href="https://github.com/partyshark/website" target="_blank">
    <%= fa_icon("github-alt") %>
    <span>GitHub</span>
  </a>
</div>

<div class="paypal">
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="business" value="dmottola@verizon.net">
    <input type="hidden" name="lc" value="US">
    <input type="hidden" name="item_name" value="Party Shark">
    <input type="hidden" name="no_note" value="0">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_SM.gif:NonHostedGuest">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div>

<div class="container">
  <div class="flash">
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>

    <% if alert %>
      <p class="alert"><%= alert %></p>
    <% end %>
  </div>

  <header class="banner">
    <%= link_to root_path do %>
      <%= image_tag 'logo_banner.png' %>
    <% end %>
  </header>

  <%= render "layouts/nav" %>

  <%= yield %>
</div>

<!-- TODO: <footer></footer> -->

</body>
</html>
