<!DOCTYPE html>
<html>
<head>
  <title>Party Shark - Stormreaver</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller_name %> <%= action_name %>'>

<div class="flash">
  <% if notice %>
  <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert %>
  <p class="alert"><%= alert %></p>
  <% end %>
</div>

<div class="github">
  <a class="button-small" href="https://github.com/partyshark/website" target="_blank">
    <%= fa_icon("github-alt") %>
    <span>GitHub</span>
  </a>
</div>

<div class="container">
  <header class="banner">
    <%= link_to root_path do %>
      <%= image_tag 'logo_banner.png' %>
    <% end %>
  </header>
  <%= render "layouts/nav" %>

  <%= yield %>
</div>

<!-- TODO: <footer></footer> -->

</body>
</html>
